body
{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23400000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23490000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23530000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235e0001' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%236A050E' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color:  white;
	text-align: center;
	font-size: 45px;
}

.artistas{
	display: inline;
	color: white;
	font-size: 35px;
}
#ctangana{

	position: absolute;
	top: 60%;
	left: 200px;
}
#ybeef{

	position: absolute;
	top: 60%;
	left: 45%;
}
#kaseo{

	position: absolute;
	top: 60%;
	left: 80%;

}
.resize{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 8px;
	
}

.kaseo_img{
	position: relative;
	left: 30%;
	top: 30px;
}
