
body
{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23400000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23490000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23530000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235e0001' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%236A050E' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.titulo_index{
	color:  white;
	text-align: center;
	font-size: 45px;
}



.glassmorfism{
	height: 200px;
	width: 90%;
	left: 45px;
	margin-top: 2em;
	padding: 3em;
	position: absolute;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.30);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);	
}

.artistas{
	display: inline;
	color: white;
	font-size: 35px;

}
#ctangana{

	position: absolute;
	top: 60%;
	left: 200px;
}
#ybeef{

	position: absolute;
	top: 60%;
	left: 45%;
}
#kaseo{

	position: absolute;
	top: 60%;
	left: 80%;

}

.resize{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 10px;
	background: rgba(255,255,255,0.30);
	box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
	backdrop-filter: blur(4.0px);
	border: 10px solid transparent;
	
}

.kaseo_img{
	position: relative;
	left: 30%;
}
.ybeef_img{
	position: relative;
	left: 17%;
}
.ctangana_img{
	position: relative;
	left: 5%;
}
#ybbody
{
	background-image: url("../imgs/plugg2.jpg");
	background-attachment: fixed;
	background-size: cover;
}
#ybh1
{
	color: lightyellow;
	text-align: center;
	font-size: 70px;
}
.beefboy
{
	background-image: url("../imgs/yungbeef.png");
	width: 500px;
	height: 700px;
	background-size: cover;
	display: block;
  	margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: lightyellow;
    border-style: solid; 
}
#ybbody
{
	background-image: url("../imgs/plugg2.jpg");
	background-attachment: fixed;
	background-size: cover;
}
#ybh1
{
	color: lightyellow;
	text-align: center;
	font-size: 70px;
}
.beefboy
{
	background-image: url("../imgs/yungbeef.png");
	width: 500px;
	height: 700px;
	background-size: cover;
	display: block;
  	margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: lightyellow;
    border-style: solid; 
}
#gofoto
{
    margin-left: initial;
    width: 400px;
	height: 400px;
}
#androfoto
{
	margin-left: auto;
	width: 400px;
	height: 400px;
}
#epfoto
{
	margin-left: initial;
	width: 400px;
	height: 400px;
}
#pyb1
{
	display: block;
    margin-left: initial;
    width: 50%;
    color: lightyellow;
    font-size: 30px;

}
#pyb2
{
	display: block;
    margin-left: initial;
    width: 50%;
    color: lightyellow;
    font-size: 30px;

}
#pyb3
{
	display: block;
    margin-left: initial;
    width: 50%;
    color: lightyellow;
    font-size: 30px;

}
#pyb4
{
	display: block;
    margin-left: initial;
    width: 50%;
    color: lightyellow;
    font-size: 30px;
}

.titulo{
	color:  white;
	font-size: 30px;

}

/*CTANGANA.HTML*/
#bodyctangana{
	background-image: url("../imgs/ctangana_fondo.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	max-width: 100%;
	overflow-x: hidden;
}
.portada_albumes_ctangana{
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
#madrileno{
	position: relative;
	bottom: 20px;
}
#avida_dollars{
	position: relative;
	bottom: 40px;
}
#idolo{
	position: relative;
	bottom: 60px;
}

#madrileno_text{
	position: relative;
	bottom: 220px;
	left: 250px;
}


/*KASEO.HTML*/
#bodykaseo{
	background-image: url("../imgs/kasefondo.jfif");
	background-attachment: fixed;
	background-size: cover;
}
.album{
	position: relative;
	height: 270px;
	width: 290px;
	bottom: 34px;
	border-radius: 20px;
}

#Remixes_y_Regalos{
	top: 450px;
}
#Kase_o_Jazz_Magnetism{
	top: 787px;
}

/*YUNGBEEF.HTML*/
.info_album{
	position: absolute;
	height: 150px;
	width: 600px;
	top: 10px;
	left: 355px;
}
#andromicfms_4{
	top: 500px;
	 
}
#El_plugg_2{
	top: 825px;
}
.letra{
	color:  white;
	font-size: 20px;
}